body {
    font-family: Arial, sans-serif;
    background-color:#2C2C2C;
	color:#DDDDDD;
}

h1 {
	text-align:center;
}

table {
	background-color: #454545;
}

.container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* 画面を超える要素を隠す */
}

.art-table {
    width: auto;
    border-collapse:collapse;
    margin: 5%;
}

.art-table tr {
    border-bottom: 5px solid #2C2C2C;
}

.left-column, .right-column {
    vertical-align: top;
	padding-top: 20px;
	padding-bottom: 20px;
}

.left-column {
    width: 30%;
	padding-left:20px;
	text-align: center;
}

.right-column {
    flex: 1 1 60%;
	padding-left: 20px;
	padding-right: 20px;
}

.right-column p {
    margin: 5px 0;
}


.key-visual img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.sub-visuals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
}

.sub-visuals img {
    width: 100%;
    max-width: 100px; /* サブビジュアルの最大幅を設定 */
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    .art-table-row {
        flex-direction: column; /* 小さい画面では縦方向に並べる */
    }

    .left-column, .right-column {
        flex: 1 1 100%; /* 両カラムが100%幅を使用 */
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.creator {
    font-size: 1.3em;  /* 少し大きめ */
    font-weight: bold;
    color: #CCC;
    margin-right: 10px;
}

.title {
    font-size: 1.5em;  /* さらに大きく、タイトルを目立たせる */
    color: #CCC;
    margin-right: 10px;
}

.duration {
    font-size: 1.0em;  /* 標準サイズ */
    color: #CCC;
}

.othercredits {
	font-size: 1.0em;  /* 標準サイズ */
    color: #48B1AE;
}

p {
	white-space: pre-line;
}
